.sec3{
    width: 1400px;
    height: 200px;
    margin: 0 auto;
    background-color: #F67E7E;
    background-image: url(/imgs/sec3-e.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    &__img{
        z-index: -1;
        margin-top: 56px;
    }
    &__list{
        width: 917px;
        height: 50px;
        display: flex;
        list-style: none;
        margin: auto auto;
        justify-content: space-between;
    }
    &__h2{
        font-family: var(--font-family);
        font-size: 48px;
        font-weight: bold;
        margin-top: 76px;
    }
    &__items{
        margin-top: 90px;
    }
    &__link{
        padding: 13px 32px;
        border:1px solid black;
        color:black;
        font-family: var(--font-family);
        border-radius: 22px;
        text-decoration: none;
    }
    &__link:hover{
        background: #012F34;
        color: white;
        transition: 0.5s;
        font-weight: bold;
        border: 0px solid #012F34;
    }
    &__link:active{
        background: #F67E7E;
        border:1px solid black;
        color: black;
        transition: 0,5s;
    }
}


@media only screen and (max-width: 769px) {
    .sec3{
        width: 768px;
        &__list{
            width: 573px;
        }
        &__h2{
            font-size: 32px;
            margin-top: 66px;
        }
        &__items{
            margin-top: 80px;
        }
    }
}


@media only screen and (max-width: 376px) {
    .sec3{
        width: 375px;
        height: 302px;
        &__list{
            width: 90%;
            flex-direction: column;
            align-items: center;
        }
        &__h2{
            margin-top: 83px;
            margin-bottom: 24px;
        }
        &__items{
            margin: 0 auto;
        }
    }
    
}